// Breakpoints
$tablet-bp: 1023.98px;
$mobile-bp: 559.98px;

// Units

:root {
    // Colors

    --bg-color: #fff;
    --bg-color-light: #F8F8F8;
    --primary-color: #C5358C;
    --primary-color-light: #ffd7dd;
    --text-color: #000;
    --text-color-light: #fff;
    --color-green: #68AE5C;
    --text-price:  #ABABAB;

    // Fonts
    --main-font: "NAMU";
    --secondary-font: "Open Sans";
    --OpenSans-font: "Open Sans";
}
