<header class="header">
    <div class="header__container">
        <!-- Navigation -->
        <nav class="header__nav nav">

            <!-- Logo -->
            <a class="nav__logo" href="/">
                <picture>
                    <source srcset="/assets/images/logo.avif" type="image/avif">
                    <source srcset="/assets/images/logo.webp" type="image/webp">
                    <img src="/assets/images/logo.png" alt="Логотип Dyson">
                </picture>
            </a>
            <!-- End Logo -->



            <!-- Menu -->
            <ul class="nav__menu menu reset-list">
                <li><a class="menu__link reset-link text-nav" href="#">О нас</a></li>
                <li><a class="menu__link reset-link text-nav" href="#">Доставка и оплата</a></li>
                <li><a class="menu__link reset-link text-nav" href="#">Регистрация продукта</a></li>
                <li><a class="menu__link reset-link text-nav" href="#">Сервис</a></li>
                <li><a class="menu__link reset-link text-nav" href="#">Сертификаты и лицензии</a></li>
            </ul>
            <!-- End Menu -->
            <ul class="header__cart cart reset-list">
                <li><a class="cart__link reset-link" href="#" target="_blank" rel="noopener nofollow noreferrer">
                        <img src="/assets/images/shopping-bag.svg" alt="Иконка корзины"></a>
                </li>
            </ul>
        </nav>
        <!-- End Navigation -->


    </div>
</header>
